html {
 	text-align: center;
	margin-top: 15px;
	margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
   	color: #000066;
    background-color: #FFFFFF;
    font-family: "verdana";
}

.oneline {
    display:inline-block
}

